.countdown {
  width: 22px;
  height: 22px;
  background-color: rgb(227, 16, 227);
  color: white;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 5px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}